page-profile {

    // .bar-header {
    //     $navbar-ios-height: 100px;
    // }

    // .element {
    //     shape
    // }
    .button {
        width: 100%;
        max-width: 100%;
        background-color: #ffe497;
        color: black;
    }

    ion-icon {
        font-size: 5em;
        padding-left: 43%;
    }

    p {
        padding-top: 10px;
        text-align: center;
    }
}