page-registration {
       ion-title {
        background-color: #66cdaa;
    }

    .button {
        width: 100%;
        max-width: 100%;
        background-color: #ffe497;
        color: black;
    }
}