page-portfolio {
    .ios, .md {
        page-home {
            .scroll-content {
                background-color: map-get($colors, light);
            }
     
            ion-card-header {
                font-weight: bold;
            }
        }
    }

    .about{
        text-align: center;
        // font-size: 20px;
    }

    .money {
        text-align: center;
        color:#66cdaa;
        font-size: 40px;
        
    }
}
